@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import 'variables';

:root{
  --body-padding: 32px;

  @media only screen and (min-width: 768px) {
    --body-padding: 64px;
  }
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $color1;
  background: $backgroundColor;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

